<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="~{plantillas/plantilla :: head}">
  <title>Temas Especiales</title>
</head>
<body>
<header th:replace="~{plantillas/plantilla :: header}"></header>

<main class="container text-center" style="margin-top:75px">
  <div style="padding-top: 20px;"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <img alt="Bootstrap Image Preview" src="/image/fesa.png" width="200"/>
      </div>
      <div class="col-md-9">
        <h2>
          Te damos la bienvenida
        </h2>
        <p>
         Este es el proyecto final para la materia de Temas Especiales de Programación<br>
          Presentado por: Jorge Ángel Jiménez Sandoval y Josué Hernández Rosas.<br>
          Grupo: 2012<br>
          FES Aragon, UNAM
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <h3>
          Consultar proyectos
        </h3>
      </div>
      <div class="col-md-4">
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <img class="card-img-top" alt="Bootstrap Thumbnail First" src="/image/ola.jpg"/>
              <div class="card-block">
                <h5 class="card-title">
                  Josué Hernández
                </h5>
                <p>
                  Presenta:
                </p>
                <h4 class="card-title">Título</h4>
                <p>Descripción</p>
                <p>
                  <a class="btn btn-primary" href="#">Consultar</a>
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card">
              <img class="card-img-top" alt="Bootstrap Thumbnail Third" src="/image/boletos.png" />
              <div class="card-block">
                <h5 class="card-title">
                  Jorge Jiménez
                </h5>
                <p>
                  Presenta:
                </p>
                <h4 class="card-title">Boletos del Metro</h4>
                <p>Una colección personal sobre estos icónicos elementos de la vida de la capital.</p>
                <p>
                  <a class="btn btn-primary" href="#">Consultar</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
<div style="padding-bottom: 30px;"></div>
</main>

<footer th:replace="~{plantillas/plantilla :: footer}"></footer>
<div th:replace="~{plantillas/plantilla :: jsimports}"></div>
</body>
</html>