<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="~{plantillas/plantilla :: head}">
  <title>FOKIN LOGIN</title>
</head>
<body>
<header th:replace="~{plantillas/plantilla :: header}"></header>

<main class="container text-center" style="margin-top:75px; margin-bottom: 125px;">
  <div style="padding-top: 20px;"></div>
  <div th:if="${param.err}" class="alert alert-warning" role="alert">
    No se puede borrar el elemento. Este tipo de boleto está asignado a un boleto. <br>
    Borre el boleto primero.
  </div>
  <div th:if="${param.ok}" class="alert alert-success" role="alert">
    Se borro el elemento
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <img alt="Bootstrap Image Preview" src="/image/configbol.png" width="100" />
      </div>
      <div class="col-md-6">
        <h3 class="text-center text-primary">
          Lista de tipos de boleto
        </h3>
      </div>
      <div class="col-md-3">
      </div>
    </div>
    <div class="row" th:if="${!lista.isEmpty()}">
      <div class="col-md-2">
      </div>
      <div class="col-md-8 card-deck">
        <div class="card" th:each="ls: ${lista}">
          <img class="card-img-top" alt="Bootstrap Thumbnail First" th:src="${ls.urlfoto}"/>
          <div class="card-block">
            <h4 class="card-title" th:text="|${ls.lote} - ${ls.anyo}|">
              ANO
            </h4>
            <h6 class="card-title" th:text="|Folio: ${ls.folio}|">
              Presenta:
            </h6>
            <p th:text="|Boleto ${ls.numero} de 5|"> det</p>
            <p>
              <a class="btn btn-primary" th:href="@{/modificar-boleto/{id} (id=${ls.id})}">Modificar</a>
              <a class="btn btn-primary" th:href="@{/eliminar-boleto/{id} (id=${ls.id})}">Eliminar</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
</main>

<footer th:replace="~{plantillas/plantilla :: footer}"></footer>
<div th:replace="~{plantillas/plantilla :: jsimports}"></div>
</body>
</html>