<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="~{plantillas/plantilla :: head}">
  <title>FOKIN LOGIN</title>
</head>
<body>
<header th:replace="~{plantillas/plantilla :: header}"></header>

<main class="container text-center" style="margin-top:75px; margin-bottom: 125px;">
  <div style="padding-top: 20px;"></div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <img alt="Bootstrap Image Preview" th:src="${imagen}" width="100"/>
      </div>
      <div class="col-md-6">
        <h3 th:text="${contenido}" class="text-center text-primary">
          Alta de tipo de boleto
        </h3>
      </div>
      <div class="col-md-3">
      </div>
    </div>
    <img src="/image/tuto.png" width="550">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <form method="post" th:action="@{/jorge/guardar-boleto}" th:object="${boleto}" >
          <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role="alert">
            Verifique los siguientes inconvenientes
            <ul>
              <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
            </ul>
          </div>
          <div class="row justify-content-center">
            <div class="col-6">
              <div class="form-floating">
                <input
                        th:class="${#fields.hasErrors('anyo')}? 'form-control is-invalid':form-control"
                        type="number" id="anyo"
                        name="anyo"
                        th:field="*{anyo}"
                        placeholder="1968">
                <label for="anyo">Año de emisión</label>
              </div>

              <div class="form-floating">
                <input
                        th:class="${#fields.hasErrors('lote')}? 'form-control is-invalid':form-control"
                        type="text" id="lote"
                        name="lote"
                        th:field="*{lote}"
                        placeholder="RF-XV">
                <label for="lote">Lote (con guión)</label>
              </div>

              <div class="form-floating">
                <input
                        th:class="${#fields.hasErrors('folio')}? 'form-control is-invalid':form-control"
                        type="text" id="folio"
                        name="folio"
                        th:field="*{folio}"
                        placeholder="250864">
                <label for="folio">Número de folio</label>
              </div>

              <div class="form-floating">
                <input
                        th:class="${#fields.hasErrors('urlfoto')}? 'form-control is-invalid':form-control"
                        type="text" id="urlfoto"
                        name="urlfoto"
                        th:field="*{urlfoto}"
                        placeholder="example.com/boleto.jpg">
                <label for="urlfoto">URL de Imagen</label>
              </div>

              <div class="form-floating">
                <input
                        th:class="${#fields.hasErrors('numero')}? 'form-control is-invalid':form-control"
                        type="number" id="numero"
                        name="numero"
                        th:field="*{numero}"
                        placeholder="2">
                <label for="numero">Posición del boleto (número)</label>
              </div>
              <div class="form-floating">
                <textarea class="form-control"
                        id="descripcion"
                        name="descripcion"
                        rows="2"
                        th:field="*{descripcion}"></textarea>
                <label for="descripcion">descripcion</label>
              </div>

              <select
                      th:class="${#fields.hasErrors('tipo')}? 'form-control is-invalid':form-control"
                      name="tipo" id="tipo" th:field="*{tipo}">
                <option th:each="g : ${tipos}"
                        th:value="${g.id}"
                        th:selected="${g.id==1}"
                        th:text="${g.nombre}">
                </option>
                <label for="tipo">Tipo de boleto</label>
              </select>



            </div>
          </div>
          <div class="col-8">
            <br/>
            <button th:disabled="${disabled}" type="submit" class="btn btn-primary">Guardar</button>
          </div>

          <input type="hidden" name="id" th:value="${id}"/>
        </form>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
</main>

<footer th:replace="~{plantillas/plantilla :: footer}"></footer>
<div th:replace="~{plantillas/plantilla :: jsimports}"></div>
</body>
</html>